.container{

}
.title{
    margin: 50px 0px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.category{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.image{
    border-radius: 50%;
}